<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <bean id="userInfoDAO" class="it.agilis.mens.azzeroCO2.core.dao.impl.UserInfoDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="ordineDAO" class="it.agilis.mens.azzeroCO2.core.dao.impl.OrdineDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="couponDAO" class="it.agilis.mens.azzeroCO2.core.dao.impl.CouponDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="tipoDiCartaDAO" class="it.agilis.mens.azzeroCO2.core.dao.impl.TipoDiCartaDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="coefficienteDAO" class="it.agilis.mens.azzeroCO2.core.dao.impl.CoefficienteDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="progettoCompensazioneDAO" class="it.agilis.mens.azzeroCO2.core.dao.impl.ProgettoCompesnazioneDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="sellaRicevutaDiPagamentoDAO" class="it.agilis.mens.azzeroCO2.core.dao.impl.SellaRicevutaDiPagamentoDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="openOfficeService" class="it.agilis.mens.azzeroCO2.core.register.impl.OpenOfficeService" scope="singleton"/>


    <bean id="openOfficeService" class="it.agilis.mens.azzeroCO2.core.register.impl.OpenOfficeService"
          scope="singleton">
         <property name="certificatoTemplateODT" value="${azzeroCO2.certificatoTemplateODT}"/>
         <property name="certificatiFolder" value="${azzeroCO2.certificatiFolder}"/>
    </bean>


    <bean id="azzeroCO2Register" class="it.agilis.mens.azzeroCO2.core.register.impl.AzzeroCO2Register">
        <property name="userInfoDAO">
            <ref local="userInfoDAO"/>
        </property>
        <property name="couponDAO">
            <ref local="couponDAO"/>
        </property>
        <property name="ordineDAO">
            <ref local="ordineDAO"/>
        </property>
        <property name="tipoDiCartaDAO">
            <ref local="tipoDiCartaDAO"/>
        </property>

        <property name="coefficienteDAO">
            <ref local="coefficienteDAO"/>
        </property>
        <property name="progettoCompensazioneDAO">
            <ref local="progettoCompensazioneDAO"/>
        </property>
        <property name="pagamentoDAO">
            <ref local="sellaRicevutaDiPagamentoDAO"/>
        </property>
        <property name="openOfficeService" ref="openOfficeService"/>

    </bean>

    <!-- **************** -->
    <!-- Email management -->
    <!-- **************** -->


    <bean id="emailSender" class="it.agilis.mens.azzeroCO2.core.register.impl.EmailSender">
        <property name="host" value="${azzeroCO2.smtpHost}"/>
        <property name="port" value="${azzeroCO2.smtpPort}"/>
        <property name="username" value="${azzeroCO2.smtpUsername}"/>
        <property name="password" value="${azzeroCO2.smtpPassword}"/>
    </bean>
    <!-- END Email Manager -->

</beans>